/*colors and whatnot*/
body {
    background-color:#3E517A;
}

h1 {
    text-align: center;
    font-weight: bolder;
    color: #FFC857;
    font-family: "impact", "verdana";
    font-size: 50pt;
}

h2 {
    text-align: center;
    font-weight: lighter;
    color: #FFC857;
    padding-right: 60px;
    padding-left: 60px;
    font-family: "verdana","impact";
}

p{
    color: #FFC857;
    text-align: center;
    padding-left:30px;
    padding-right:30px;
    word-wrap: normal;
    font-size: 24px;
    font-family:"verdana","impact";
}

.nav-bar {
    display: block;
    padding: 8px;
    color: #FFC857;
    text-align: left;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: dotted;
    color: #FFC857;
}

li a:hover {
  background-color:#ff8360;
  color: #FFC857;
}

/* general formatting */
img{
    height: auto;
    width:500px;
    max-width: 75%;
}

div{
    text-align: center;
}

div.certifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: auto;
    row-gap: 60px;
    gap: 60px;
}

div.resume{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li{
    display: inline;
    float: left;
}

/* classes */


.bottom { /*artifact for the bottom sizing*/
    width: 2000px;
    max-width: 100%;
    max-height: 100%;
}

.active { /*home tab coloring*/
  background-color: #1B998B;
}

.flex { /*spaces out the navigation buttons*/
    display: flex;
    text-align: center;
    gap: var(--gap,.5rem);
    align-items: center;
    
    
    margin-left: auto;

}

.flics{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: auto;
    row-gap: 60px;
    gap: 60px;
}

