/*colors and whatnot*/
body {
    background-color:#3E517A;
}

h1 {
    text-align: center;
    font-weight: bolder;
    color: #FFC857;
    font-family: "impact", "verdana";
    font-size: 50pt;
}

h2 {
    text-align: center;
    font-weight: lighter;
    color: #FFC857;
    padding-right: 60px;
    padding-left: 60px;
    font-family: "verdana","impact";
}

p{
    color: #FFC857;
    text-align: center;
    padding-left:30px;
    padding-right:30px;
    word-wrap: normal;
    font-size: 24px;
    font-family:"verdana","impact";
}

.nav-bar {
    display: block;
    padding: 8px;
    color: #FFC857;
    text-align: left;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: dotted;
    color: #FFC857;
}

li a:hover {
  background-color:#ff8360;
  color: #FFC857;
}

/* general formatting */
img{
    height: auto;
    width:500px;
    max-width: 75%;
}

div{
    text-align: center;
}

div.certifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: auto;
    row-gap: 60px;
    gap: 60px;
}

div.resume{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li{
    display: inline;
    float: left;
}

/* classes */


.bottom { /*artifact for the bottom sizing*/
    width: 2000px;
    max-width: 100%;
    max-height: 100%;
}

.active { /*home tab coloring*/
  background-color: #1B998B;
}

.flex { /*spaces out the navigation buttons*/
    display: flex;
    text-align: center;
    gap: var(--gap,.5rem);
    align-items: center;
    
    
    margin-left: auto;

}

.flics{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: auto;
    row-gap: 60px;
    gap: 60px;
}

.navbar{
    background: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA2L3JtNTI0LWJnLTAyNmQteC5qcGc.jpg') repeat top center ; 
    background-size: 100px 100px;
    height: 100px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: 999999;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-left: auto;
    z-index: 999999;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: white;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/*Hamburger in the nav bar*/
@media(max-width:768px){
    .hamburger{
        display: block;
        margin-left: auto;
    }
   
    .hamburger.active .bar:nth-child(2){
        opacity:0;
        background-color: white;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        background-color: white;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        background-color: white;
    }
   
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
         background-color:  url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA2L3JtNTI0LWJnLTAyNmQteC5qcGc.jpg') repeat top center ; 
        background-size: 100px 100px;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
   
    .nav-item{
        margin: 16px 0;
    }
   
    .nav-menu.active{
        left: 0;
    }
}